.login-container {
    position: fixed;
    left: 0;
    top: 120px;
    right: 0;
    bottom: 0;
    background-image: -webkit-linear-gradient(to bottom, #ff5c63, #ff8f6f);
    background-image: linear-gradient(to bottom, #ff5c63, #ff8f6f);
}

.login-center {
    width: 477px;
    height: 572px;
    background: url(../../assets/login/wechat.png) no-repeat center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: translate3d(-238px, -186px, 0);
}

.er-code {
    display: inline-block;
    width: 308px;
    height: 308px;
    margin: 82px;
    transform-origin: center;
}

@media (max-height: 700px) {
    .login-center {
        transform: translate3d(-238px, -186px, 0) scale3d(0.5, 0.5, 0.5);
    }
}