<div id="app">
    <div class="header">
        <div class="header-center">
            <a [routerLink]="['/']" class="site-logo"></a>
            <div class="menus">
                <span class="menu-item home" [ngClass]="{'active': nav == 'home'}">
                    <a [routerLink]="['/home']">首页</a>
                    <em class="bottom-line"></em>
	            </span>
                <span class="menu-item subject" [ngClass]="{'active': nav == 'subject'}">
	                    <a [routerLink]="['/subject']">课程</a>
	                    <em class="bottom-line"></em>
	                </span>
                <span class="menu-item my" [ngClass]="{'active': nav == 'my'}">
	                    <a [routerLink]="['/my']">我的</a>
	                    <em class="bottom-line"></em>
	                </span>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    <div>
        <cool-loading-indicator [indicatorDelay]="0">
            <div class="loading-mask" v-show="loading">
                <div class="uil-ring-css">
                    <div></div>
                </div>
            </div>
        </cool-loading-indicator>
    </div>
</div>
