.home-container {
    margin: 150px 260px 0;
}

.title {
    font-size: 16px;
    line-height: 18px;
    color: #666;
    padding: 0 0 20px 40px;
    background: url(../../assets/home/new-ico.png) no-repeat 0 0;
}

.list-container {
    width: 1390px;
    margin: 0 auto;
}

.list-item {
    width: 440px;
    height: 370px;
    background: #fff;
    float: left;
    position: relative;
    transform-origin: center;
    transition: all 0.3s;
    margin: 0 0 30px 0;
}

.list-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.list-item:nth-of-type(3n + 2) {
    margin: 0 25px 30px 26px;
}

.mask {
    position: absolute;
    transform-origin: center;
    transition: all 0.3s;
}

.vide-detail {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 50%;
    background: url(../../assets/home/eye.png) no-repeat center;
    background-size: 70px;
    opacity: 0;
    transform: scale(1.5) translate3d(-100px, 0, 0);
    transition: all 0.3s 0.3s;
}

.delete-subject {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: block;
    width: 50%;
    background: url(../../assets/home/delete.png) no-repeat center;
    background-size: 60px;
    opacity: 0;
    transform: scale(1.5) translate3d(100px, 0, 0);
    transition: all 0.3s 0.3s;
}

.list-item:hover .mask {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.list-item:hover .vide-detail {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
}

.list-item:hover .delete-subject {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
}

.main-pic {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.main-pic img {
    max-width: 100%;
}

.article-info {
    padding: 20px;
}

.article-title {
    font-size: 18px;
    height: 40px;
    line-height: 20px;
    width: 400px;
    color: #111;
    overflow: hidden;
    display: block;
    overflow: hidden;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.time,
.views,
.status {
    font-size: 14px;
    color: #bbb;
}

.time {
    float: left;
}

.views {
    float: right;
    padding: 0 0 0 30px;
    background: url(../../assets/home/view-ico.png) no-repeat 0 center;
    color: #666;
}

.status {
    float: right;
    padding: 0 10px 0 0;
}

.add-new {
    width: 100%;
}

@media (min-width: 1600px) and (max-width: 1800px) {
    .home-container {
        margin: 150px 130px;
    }
    .list-container {
        width: 1300px;
        margin: 0 auto;
    }
    .list-item {
        width: 400px;
        height: 350px;
        background: #fff;
        float: left;
        position: relative;
        transform-origin: center;
        transition: all 0.3s;
        margin: 0 0 20px 0;
    }
    .main-pic {
        width: 400px;
        height: 255px;
    }
    .list-item:nth-of-type(3n + 2) {
        margin: 0 25px 20px 25px;
    }
    .add-new-post {
        height: 270px;
    }
}

@media (max-width: 1400px) {
    .home-container {
        margin: 150px 100px;
    }
    .list-container {
        width: 1010px;
        margin: 0 auto;
    }
    .list-item {
        width: 320px;
        height: 300px;
        background: #fff;
        float: left;
        position: relative;
        transform-origin: center;
        transition: all 0.3s;
        margin: 0 0 20px 0;
    }
    .main-pic {
        width: 320px;
        height: 210px;
    }
    .list-item:nth-of-type(3n + 2) {
        margin: 0 25px 20px 25px;
    }
    .add-new-post {
        height: 270px;
        padding: 15px 0;
    }
}