<div class="home-container">
    <div class="title">
        最新文章
    </div>
    <ul class="list-container">
        <li class="list-item" *ngFor="let course of articles">
            <a class="list-link" [href]="course.link">
                <div class="mask"></div>
                <div class="main-pic">
                    <img [src]="course.firstImageContent" />
                </div>
                <div class="article-info">
                    <h3 class="article-title" [textContent]="course.title"></h3>
                    <div class="time-views">
                        <span class="time" [textContent]="course.createTime"></span>
                        <span class="views" [textContent]="course.count"></span>
                    </div>
                </div>
            </a>
        </li>
        <li class="list-item add-new-post">
            <a class="list-link" href="/publish">
                <img src="../assets/home/add-new-ico.jpg" class="add-new" />
            </a>
        </li>
    </ul>
</div>
